@import "form";

// Define your variable overrides here
$body-bg: whitesmoke;
$primary: #FF8811;

$danger: #CA5310;
$success: #99C24D;
$info: #55DDE0;

$dark: #383D3B;

div {
  display: flex;
}
.card {
  flex-grow: 1;
  margin: 5px 0;
}

.align-content-end {
  justify-content: flex-end;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: $primary;
  padding: 5px;
  text-align: center;
  justify-content: space-between;

  a, a:hover{
    color: #212529;
  }
}